/* Header */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#loginButton {
    font-size: 25px;
}
/*end header*/

/*navigation*/
#sideMenuIcon {
    font-size:30px;
    cursor:pointer;
}

#sideMenuIcon:hover {
    background-color: grey;
}

/* Menu on the side */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: gray;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 24px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*end navigation*/

/*article main content*/
.main {
    text-align: center;
}

.cardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardTitle {
    font-size: 39px;
    color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.pagination {
    display: inline-block;
    font-size: 25px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

a.selectedPage {
    color: white;
    background-color: black;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid;
    border-color: lightgrey;
}

.about-title {
    font-size: 25px;
    margin-bottom: 30px;
}

.about-subtitle {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-caption {
    font-style: italic;
    margin-bottom: 20px;
}

@media screen and ( max-width: 600px ) {
    .cards .footer{
        display: flex;
        flex-direction: column;
    }

    img.about-img-responsive { width: 400px; }
    img.card-img-responsive { width: 200px; }
}
@media screen and ( min-width: 601px) {
    body {
        margin-left: 100px;
        margin-right: 100px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
    .cards>* {
        flex: 1 1 160px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    img.about-img-responsive { width: 800px;}
    img.card-img-responsive { width: 300px;}
}
img.about-img-responsive { height: auto; }
img.card-img-responsive { height: auto; }
/*end article main content*/

/*Footer*/
.footer{
    margin-top: 50px;
}

.article {
    border-bottom: 1px solid;
    border-color: lightgrey;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.article-header {
    display: flex;
    flex-direction: row;

}

.article-title {
    margin-left: 20px;
}

.insurance-types {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.7em;
}

.footer-child {
    flex: 1;
}
.insurance-types span {
    background-color: grey;
    margin: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

span.selectedCat {
    background-color: black;
    color: white;
}
/*end footer*/
